*{
  padding: 0;
  margin: 0;
}

header,
footer{
  display:grid;
  background-color: rgb(41, 41, 41);
  padding: 10px 30px;  
  justify-content: space-between;
  align-items: end;
  font-size: 16px;
  }
  div img{
  width: 100px;  
}
.nav, ul li{
  display: inline-flex;
  list-style-type: none;
}
a:hover{  
  text-decoration: none;
  color: white;
}

main h1{
  text-align: center;
}
.card img{
  flex: content;
  width: 80px;
  
}
.card-text{
  flex-wrap: wrap;
  gap: 25px
}

.productos{
  display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 150px 150px 150px;
    gap: 15px ;
    padding: 15px;
    margin: 15px;
    grid-area: 
    "card 1 card 2"
    "card 3 card 4"
    "card 5 card 6";
}

p{
  display: flex;
  color: rgb(97, 91, 91);
  margin: 35px 35px;
}
h2{
  display: flex;
  flex-direction: column;
  text-align: center;
}

section{
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-area: 
  "card card"
  "card card";
  gap: 20px;
  margin: 15px;
  border: 1px solid black;
}
.noticia--destacada{
  background-color: cornsilk;
}
.noticia__titulo--uppercase{
  text-transform: uppercase;
}
main.formulario{
  display: grid;
  justify-content: center;
  background-color: darkgray;
  padding: 45px;
  margin: 35px;
  border: 1px solid black;
  box-shadow: 5px 5px 0 grey;
  
}
